@font-face {
font-family: Minecraft;
src: url(font.otf);
}


body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: white;
    background-color: #1E1E1E;
}


header {
    background-color: #333333;
    padding: 20px;
}

header h1 {
    font-size: 32px;
    margin: 0;
    color: white;
}


.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navbar li {
    margin: 0 15px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 24px;
}


.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


footer {
    text-align: center;
    background-color: #333333;
    padding: 10px;
}

footer p {
    font-size: 14px;
}


#features ul {
    list-style-type: disc;
    margin-left: 30px;
}
